html, body {
    margin: 0;
    font-family: 'LG PC';
    color: #333333;
    box-sizing: border-box;
}

header .header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 130px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

header .header .logo {
    position: absolute;
    left: 20%;
    top: 4%;
}

header .header .logo a img {
    width: 119px;
}

header .header nav {
    position: absolute;
    top: 61%;
    right: 30%;
    z-index: 2;
    font-size: 0;
}

header .header nav ul li {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

header .header nav ul li a {
    font-size: 17px;
    color: #333;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    display: block;
    height: 50px;
    padding: 0 70px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: -0.04em;
}

header .header nav ul li .sub {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(225, 225, 225, 0.2);
    text-align: center;
    padding-top: 10px;
    opacity: 1;

}

header .header nav ul li .sub a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05em;
    margin: 0px;
    padding: 0px;
    height: 35px;
    color: #575757;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    word-break: keep-all !important;
}

header .header nav ul li .sub a:nth-of-type(2) {
    margin-top: 15px;
}

header .header nav ul li a:hover,
header .header nav ul li a.active{
    color: #68b445;
}

header .header .gnb {
    position: absolute;
    top: 25%;
    right: 20%;
    font-size: 14px;
}

header .header .gnb a {
    padding-left: 7px;
    color: #333;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}
header .header .gnb img{
    width: 35px;
    /* height: 10%; */
}

.sub_nav {
    border: 1px solid #ddd;
    border-width: 1px 0 1px 0;
}
  
.sub_nav ul {
    width: 1200px;
    height: 50px;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
    font-size: 0;
    padding-left: 0;
}
  
.sub_nav ul .home {
    display: inline-block;
    height: 100%;
    padding: 15px;
    margin: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
.sub_nav ul .home a img {
    width: 15px;
    height: 15px;
}
  
.sub_nav ul .list {
    position: relative;
    width: 275px;
    height: 50px;
    display: inline-block;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    z-index: 90;

    cursor: pointer;
}
  
.sub_nav ul .list .list_1 {
    font-size: 15px;
    background: url(../img/click.png) no-repeat 95%;
}
  
.sub_nav ul .list .list_1 > a {
    font-size: 15px;
    color: #333;
    line-height: 50px;
}
  
.sub_nav ul .list .list_1 > a:nth-of-type(1) {
    width: 200px;
    padding: 0 60px 0 15px;
    text-decoration: none;
}
  
.sub_nav ul .list .list_1 .list_2 {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    border: 1px solid #ddd;
    border-top: none;
    opacity: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
.sub_nav ul .list .list_1 .list_2 > a {
    background: white;
    display: block;
    padding: 12px 15px;
    font-size: 15px;
    color: #666;
    border-top: 1px solid #ddd;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
  
.sub_nav ul .list .list_1 .list_2 > a:hover {
    color: #333;
    background-color: #f7f7f7;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

body .footer {
    width: 100%;
    margin: 0 auto;
    background-color: #222;
    display: block;
}

body .footer .footer_1 {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

body .footer .footer_1 p {
    width: 100%;
    font-size: 13px;
    color: #b3b3b3;
    float: left;
    white-space: pre-line;
}

body .footer .footer_1 .button .top {
    position: fixed;
    width: 54px;
    z-index: 100;
    display: block;
    right: 65px;
    bottom: 90px;
}
body .footer .footer_1 .button .top a:nth-of-type(2) img{
    width: 24px;
    height: 24px;
}
body .footer .footer_1 .button .top a:nth-of-type(3) img{
    width: 24px;
    height: 24px;
}
