@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

body {
    .slide-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .slide {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

            figure {
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                left: 0;
                top: 0;
                transition: .5s;
                margin: 0;

                img {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }

                img:nth-of-type(1) {
                    left: 0%;
                }

                img:nth-of-type(2) {
                    left: 100%;
                }

                img:nth-of-type(3) {
                    left: 200%;
                }
            }
        }

        .fade {
            color: greenyellow;
            font-size: 50px;
            position: absolute;
            top: 50%;
            width: 100%;
            cursor: pointer;

            .prev {
                float: left;
                margin-left: 3%;
                background: none;
                border: none;
            }

            .next {
                float: right;
                margin-right: 3%;
                background: none;
                border: none;
            }
        }
    }

    .banner {
        width: 100%;

        figure {
            margin: 0;
            text-align: center;
            align-items: center;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                margin-top: 15px;
            }

            figcaption {
                text-align: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                margin: 2% 0;

                p {
                    font-size: 48px;

                    strong {
                        font-size: 48px;
                    }
                }

                small {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }

    figure:nth-of-type(2) figcaption {
        color: #333;
    }

    figure:nth-of-type(3) figcaption p {
        color: #b4b4b4;
    }

    figure:nth-of-type(3) figcaption p strong {
        color: #fff;
    }

    .sns {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 95px;

        h3 {
            font-size: 38px;
            list-style: 1.1em;
            text-align: center;
            vertical-align: middle;

            strong {
                color: #68b445;
                margin: 0;
            }

            span {
                color: #333;
                margin-left: 8px;
            }

            a {
                display: inline-block;

                img {
                    width: 41px;
                    vertical-align: middle;
                }
            }
        }
    }
}
