@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.main {
    .banner {
        width: 100%;
        height: 180px;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            font-size: 46px;
            color: #333;
            margin: 0 auto;
            background-image: url(../img/Untitled-1.jpg);
        }
    }
}

.main_content {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 3%;

    .content_h {
        text-align: center;
        position: relative;
        margin: 3% 0;

        h2 {
            text-align: center;
            width: 100%;
            font-size: 40px;
            color: #333;
            padding-top: 3%;
            margin: 0 auto;
        }

        h2:after {
            display: block;
            content: '';
            width: 30px;
            height: 3px;
            background: #333;
            position: absolute;
            bottom: -20%;
            left: 49.2%;
        }
    }

    .form_t1 {
        text-align: left;

        fieldset {
            overflow: hidden;
            border: none;
            margin-bottom: 50px;
            padding: 0;

            legend {
                font-size: 20px;
                margin-bottom: 1%;
            }

            .priv {
                width: auto;
                height: 200px;
                overflow-y: scroll;
                white-space: pre-wrap;
                border: 1px solid #ddd;
                background: #f7f7f7;
                color: #666;
                padding: 15px;
                margin-bottom: 10px;
            }

            label {
                float: right;

                b {
                    color: red;
                }
            }
        }

        .form_t2 {
            text-align: left;

            fieldset {
                border: none;
                margin-bottom: 50px;
                padding: 0;

                legend {
                    font-size: 20px;
                    margin-bottom: 1%;
                }

                table {
                    width: 100%;
                    border-top: 1px solid #2e2e2e;

                    tr {
                        padding: 15px 10px;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        border: 2px solid green;

                        th {
                            background: #f7f7f7;
                            color: #666;
                            font-weight: normal;
                            padding: 15px 10px;
                        }

                        td {
                            text-align: left;

                            select {
                                height: 35px;
                                line-height: 35px;
                                padding: 0 0 0 10px;
                                background: #fff;
                                border: 1px solid #dadada;
                            }

                            input {
                                display: inline-block;
                                vertical-align: middle;
                                outline: none;
                                height: 35px;
                                line-height: 35px;
                                padding: 10px;
                                background: #fff;
                                border: 1px solid #ddd;
                                box-sizing: border-box;
                                cursor: pointer;
                            }

                            textarea {
                                width: 100%;
                                height: 300px;
                                font-size: 14px;
                                line-height: 18px;
                                padding: 15px;
                                background: #fff;
                                border: 1px solid #ddd;
                                box-sizing: border-box;
                            }

                            .inp_n {
                                width: 15%;
                            }

                            .inp_e {
                                width: 15%;
                            }

                            .inp_c {
                                width: 20%;
                            }

                            .inp_t {
                                width: 100%;
                            }

                            .inp_f {
                                border: 1px solid #ddd;
                                width: 100%;
                                padding: 1% 0 4% 1%;

                                //위 오른 아래 왼
                           
                            }
                        }
                    }
                }
            }
        }
    }

    .click {
        width: 100%;
        margin: 0 auto;

        div {
            width: 100%;
            margin: 0 auto;
            text-align: center;

            .inp_s {
                width: 10%;
                margin-top: 3%;
                padding: 1%;
                cursor: pointer;
                background: #2e2e2e;
                border: none;
                border-radius: 10px;
                color: #fff !important;
            }

            .inp_s:hover {
                background: #464646;
                transition: .5s;
            }
        }
    }
}