@import url("common.css");
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.main .banner {
  width: 100%;
  height: 180px;
}

.main .banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 46px;
  color: #333;
  margin: 0 auto;
  background-image: url(../img/Untitled-1.jpg);
}

.sub_nav {
  border: 1px solid #ddd;
  border-width: 1px 0 1px 0;
}

.sub_nav ul {
  width: 1200px;
  height: 50px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  font-size: 0;
  padding-left: 0;
}

.sub_nav ul .home {
  display: inline-block;
  height: 100%;
  padding: 15px;
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub_nav ul .home a img {
  width: 15px;
  height: 15px;
}

.sub_nav ul .list {
  position: relative;
  width: 275px;
  height: 50px;
  display: inline-block;
  border-right: 1px solid #ddd;
  vertical-align: middle;
  z-index: 90;
}

.sub_nav ul .list .list_1 {
  font-size: 15px;
  background: url(../img/click.png) no-repeat 95%;
}

.sub_nav ul .list .list_1 > a {
  font-size: 15px;
  color: #333;
  line-height: 50px;
}

.sub_nav ul .list .list_1 > a:nth-of-type(1) {
  width: 200px;
  padding: 0 60px 0 15px;
  text-decoration: none;
}

.sub_nav ul .list .list_1 .list_2 {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  border: 1px solid #ddd;
  border-top: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub_nav ul .list .list_1 .list_2 > a {
  background: white;
  display: block;
  padding: 12px 15px;
  font-size: 15px;
  color: #666;
  border-top: 1px solid #ddd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sub_nav ul .list .list_1 .list_2 > a:hover {
  color: #333;
  background-color: #f7f7f7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sub_nav ul .list .list_1:hover .list_2 {
  opacity: 1;
}

.main_content {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 3%;
}

.main_content .content_h {
  text-align: center;
  position: relative;
  margin: 3% 0;
}

.main_content .content_h h2 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: #333;
  padding-top: 3%;
  margin: 0 auto;
}

.main_content .content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -20%;
  left: 49.2%;
}

.main_content .form_t1 {
  text-align: left;
}

.main_content .form_t1 fieldset {
  overflow: hidden;
  border: none;
  margin-bottom: 50px;
  padding: 0;
  margin: 0;
}

.main_content .form_t1 fieldset legend {
  font-size: 20px;
  margin-bottom: 1%;
}

.main_content .form_t1 fieldset .priv {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
  border: 1px solid #ddd;
  background: #f7f7f7;
  color: #666;
  padding: 15px;
  margin-bottom: 10px;
}

.main_content .form_t1 fieldset label {
  float: right;
}

.main_content .form_t1 fieldset label b {
  color: red;
}

.main_content .form_t1 .form_t2 {
  text-align: left;
}

.main_content .form_t1 .form_t2 fieldset {
  border: none;
  margin-bottom: 50px;
  padding: 0;
  margin: 0;
}

.main_content .form_t1 .form_t2 fieldset legend {
  font-size: 20px;
  margin-bottom: 1%;
}

.main_content .form_t1 .form_t2 fieldset table {
  width: 100%;
  border-top: 1px solid #2e2e2e;
}

.main_content .form_t1 .form_t2 fieldset table tr {
  padding: 15px 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.main_content .form_t1 .form_t2 fieldset table tr th {
  background: #f7f7f7;
  color: #666;
  font-weight: normal;
  padding: 15px 10px;
}

.main_content .form_t1 .form_t2 fieldset table tr td {
  text-align: left;
}

.main_content .form_t1 .form_t2 fieldset table tr td select {
  height: 35px;
  line-height: 35px;
  padding: 0 0 0 10px;
  background: #fff;
  border: 1px solid #dadada;
}

.main_content .form_t1 .form_t2 fieldset table tr td input {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.main_content .form_t1 .form_t2 fieldset table tr td textarea {
  width: 100%;
  height: 300px;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_content .form_t1 .form_t2 fieldset table tr td .inp_n {
  width: 15%;
}

.main_content .form_t1 .form_t2 fieldset table tr td .inp_e {
  width: 10%;
}

.main_content .form_t1 .form_t2 fieldset table tr td .inp_c {
  width: 10%;
}

.main_content .form_t1 .form_t2 fieldset table tr td .inp_t {
  width: 100%;
}

.main_content .form_t1 .form_t2 fieldset table tr td .inp_f {
  border: 1px solid #ddd;
  width: 100%;
  padding: 1% 0 4% 1%;
}

.main_content .click {
  width: 100%;
  margin: 0 auto;
}

.main_content .click div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main_content .click div .inp_s {
  width: 10%;
  margin-top: 3%;
  padding: 1%;
  cursor: pointer;
  background: #2e2e2e;
  border: none;
  border-radius: 10px;
  color: #fff !important;
}

.main_content .click div .inp_s:hover {
  background: #464646;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=inquiry.css.map */