@import url("common.css");
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.main .banner {
  width: 100%;
  height: 180px;
}

.main .banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 46px;
  color: #333;
  margin: 0 auto;
  background-image: url(../img/Untitled-1.jpg);
}

.main_content {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 3%;
}

.main_content .content_h {
  text-align: center;
  position: relative;
  margin: 3% 0;
}

.main_content .content_h h2 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: #333;
  padding-top: 3%;
  margin: 0 auto;
}

.main_content .content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -20%;
  left: 49.2%;
}

.main_content .content_h small {
  text-align: center;
  font-size: 18px;
  color: #333;
  white-space: pre-line;
  line-height: 1.5;
}

.main_content .content_h small b {
  color: #68b445;
}

.main_content .list {
  margin: 0 auto;
  margin: 5% 0;
  text-align: left;
}

.main_content .list ul {
  margin: 0 auto;
  font-size: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_content .list ul li {
  width: 32.4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.main_content .list ul li .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  width: 100%;
}

.main_content .list ul li .box img {
  width: 100%;
  height: 25vh;
}

.main_content .list ul li .box img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.main_content .list ul li .text {
  text-align: left;
  margin: 25px 0;
  padding: 0 25px;
  white-space: pre-line;
}

.main_content .list ul li .text a {
  font-size: 24px;
  color: #494949;
  margin: 3px 0;
  text-decoration: none;
}

.main_content .list ul li .text p {
  font-size: 16px;
  color: #7e7e7e;
  margin-bottom: 0;
}

.main_content .list ul li .text small {
  font-size: 14px;
  color: #a68537;
}

.main_content .list ul li .text .call p {
  font-size: 18px;
  color: #5C4B3A;
}

.main_content .list ul li .text .call p img {
  width: 20px;
  margin-right: 1%;
}

.main_content .paging {
  text-align: center;
  color: #666;
}

.main_content .paging a {
  line-height: 2;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ddd;
  margin: 0 1px;
  font-size: 12px;
  text-decoration: none;
}

.main_content .paging a.active {
  border-color: #ddd;
  background: #ddd;
}
/*# sourceMappingURL=map_2.css.map */