@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.main {
    .banner {
        width: 100%;
        height: 180px;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            font-size: 46px;
            color: #333;
            margin: 0 auto;
            background-image: url(../img/Untitled-1.jpg);
        }
    }
}

.main_content {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    margin: 0 auto;

    .content_h {
        text-align: center;
        position: relative;
        margin: 3% 0;

        h2 {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            font-size: 40px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #68b445;

            span {
                color: #333;
            }
        }

        h2:after {
            display: block;
            content: '';
            width: 30px;
            height: 3px;
            background: #333;
            position: absolute;
            bottom: -30%;
            left: 49.2%;
        }
    }

    .Allergie {
        margin: 0 auto;

        .banner_1 {
            position: relative;
            margin-top: 10px;

            img {
                width: 100%;
            }

            .text {
                position: absolute;
                left: 0;
                top: 18%;
                width: 100%;

                p {
                    color: #87e95a;
                    font-size: 44px;
                    margin-bottom: 20px;
                }

                small {
                    color: #fff;
                    font-size: 18px;
                    white-space: pre-line;
                    line-height: 30px;
                }
            }
        }

        .banner_2 {
            position: relative;
            margin-top: 10px;

            img {
                width: 100%;
            }

            .text {
                position: absolute;
                left: 0;
                top: 18%;
                width: 100%;

                p {
                    color: #87e95a;
                    font-size: 44px;
                    margin-bottom: 20px;
                }

                small {
                    color: #fff;
                    font-size: 18px;
                    white-space: pre-line;
                    line-height: 30px;
                }
            }
        }

        .banner_3 {
            position: relative;
            margin-top: 10px;

            img {
                width: 100%;
            }

            .text {
                position: absolute;
                left: 0;
                top: 18%;
                width: 100%;

                p {
                    color: #87e95a;
                    font-size: 44px;
                    margin-bottom: 20px;
                }

                small {
                    color: #fff;
                    font-size: 18px;
                    white-space: pre-line;
                    line-height: 30px;
                }
            }
        }
    }

    .line {
        .content_hh {
            text-align: center;
            position: relative;
            margin: 3% 0;

            h2 {
                text-align: center;
                margin: 0 auto;
                width: 100%;
                font-size: 40px;
                color: #333;
            }

            p {
                font-size: 18px;
                color: #68b445;

                span {
                    color: #333;
                }
            }

            h2:after {
                display: block;
                content: '';
                width: 30px;
                height: 3px;
                background: #333;
                position: absolute;
                bottom: -50%;
                left: 49.2%;
            }
        }

        ul {
            list-style: none;
            align-items: center;
            padding: 0;

            li {
                margin: 0 auto;
                vertical-align: top;
                padding: 15px;
                box-sizing: border-box;
                text-align: center;

                .box {
                    margin: 0 auto;
                    width: 500px;
                    padding: 40px;
                    background-color: #f7f7f7;

                    .line_text {
                        img {
                            text-align: center;
                        }

                        p {
                            font-size: 22px;
                            color: #333;
                            margin-bottom: 15px;
                        }

                        small {
                            font-size: 16px;
                            color: #666;
                            text-align: center;
                            line-height: 24px;
                            white-space: pre-line;
                        }
                    }

                    .btn {
                        display: inline-block;

                        a {
                            width: 140px;
                            height: 35px;
                            line-height: 2.2;
                            font-size: 15px;
                            color: #fff;
                            background-color: #68b445;
                            border-radius: 20px;
                            margin-top: 25px;
                            border: none;
                            text-decoration: none;
                            transition: .8s;
                        }

                        a:hover {
                            background-color: #5aa73a;
                        }
                    }
                }
            }
        }
    }
}