@import url("common.css");
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.main .banner {
  width: 100%;
  height: 180px;
}

.main .banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 46px;
  color: #333;
  margin: 0 auto;
  background-image: url(../img/Untitled-1.jpg);
}

.main_content {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  margin: 0 auto;
}

.main_content .content_h {
  text-align: center;
  position: relative;
  margin: 3% 0;
}

.main_content .content_h h2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

.main_content .content_h p {
  font-size: 18px;
  color: #68b445;
}

.main_content .content_h p span {
  color: #333;
}

.main_content .content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -30%;
  left: 49.2%;
}

.main_content .Allergie {
  margin: 0 auto;
}

.main_content .Allergie .banner_1 {
  position: relative;
  margin-top: 10px;
}

.main_content .Allergie .banner_1 img {
  width: 100%;
}

.main_content .Allergie .banner_1 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Allergie .banner_1 .text p {
  color: #87e95a;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Allergie .banner_1 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .Allergie .banner_2 {
  position: relative;
  margin-top: 10px;
}

.main_content .Allergie .banner_2 img {
  width: 100%;
}

.main_content .Allergie .banner_2 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Allergie .banner_2 .text p {
  color: #87e95a;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Allergie .banner_2 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .Allergie .banner_3 {
  position: relative;
  margin-top: 10px;
}

.main_content .Allergie .banner_3 img {
  width: 100%;
}

.main_content .Allergie .banner_3 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Allergie .banner_3 .text p {
  color: #87e95a;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Allergie .banner_3 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .line .content_hh {
  text-align: center;
  position: relative;
  margin: 3% 0;
}

.main_content .line .content_hh h2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

.main_content .line .content_hh p {
  font-size: 18px;
  color: #68b445;
}

.main_content .line .content_hh p span {
  color: #333;
}

.main_content .line .content_hh h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -50%;
  left: 49.2%;
}

.main_content .line ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.main_content .line ul li {
  margin: 0 auto;
  vertical-align: top;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.main_content .line ul li .box {
  margin: 0 auto;
  width: 500px;
  padding: 40px;
  background-color: #f7f7f7;
}

.main_content .line ul li .box .line_text img {
  text-align: center;
}

.main_content .line ul li .box .line_text p {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

.main_content .line ul li .box .line_text small {
  font-size: 16px;
  color: #666;
  text-align: center;
  line-height: 24px;
  white-space: pre-line;
}

.main_content .line ul li .box .btn {
  display: inline-block;
}

.main_content .line ul li .box .btn a {
  width: 140px;
  height: 35px;
  line-height: 2.2;
  font-size: 15px;
  color: #fff;
  background-color: #68b445;
  border-radius: 20px;
  margin-top: 25px;
  border: none;
  text-decoration: none;
  -webkit-transition: .8s;
  transition: .8s;
}

.main_content .line ul li .box .btn a:hover {
  background-color: #5aa73a;
}
/*# sourceMappingURL=menu_2.css.map */