@import url("common.css");
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.main .banner {
  width: 100%;
  height: 180px;
}

.main .banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 46px;
  color: #333;
  margin: 0 auto;
  background-image: url(../img/Untitled-1.jpg);
}

.main_content {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  margin: 0 auto;
}

.main_content .content_h {
  text-align: center;
  position: relative;
  margin: 3% 0;
  padding-bottom: 1%;
}

.main_content .content_h h2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

.main_content .content_h h2 strong {
  color: #68b445;
}

.main_content .content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 49.2%;
}

.main_content .Shop {
  margin: 0 auto;
}

.main_content .Shop .banner_1 {
  position: relative;
  margin-top: 10px;
}

.main_content .Shop .banner_1 img {
  width: 100%;
}

.main_content .Shop .banner_1 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Shop .banner_1 .text p {
  color: white;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Shop .banner_1 .text p strong {
  color: #87e95a;
  font-size: 44px;
}

.main_content .Shop .banner_1 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .Shop .banner_2 {
  position: relative;
  margin-top: 10px;
}

.main_content .Shop .banner_2 img {
  width: 100%;
}

.main_content .Shop .banner_2 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Shop .banner_2 .text p {
  color: white;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Shop .banner_2 .text p strong {
  color: #87e95a;
  font-size: 44px;
}

.main_content .Shop .banner_2 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .Shop .banner_3 {
  position: relative;
  margin-top: 10px;
}

.main_content .Shop .banner_3 img {
  width: 100%;
}

.main_content .Shop .banner_3 .text {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
}

.main_content .Shop .banner_3 .text p {
  color: white;
  font-size: 44px;
  margin-bottom: 20px;
}

.main_content .Shop .banner_3 .text p strong {
  color: #87e95a;
  font-size: 44px;
}

.main_content .Shop .banner_3 .text small {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 30px;
}

.main_content .line {
  background: #f6f6f6;
  margin-top: -3%;
}

.main_content .line .content_hh {
  text-align: center;
  position: relative;
  margin-top: 3%;
  padding: 2% 0;
}

.main_content .line .content_hh h2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

.main_content .line .content_hh p {
  font-size: 18px;
  color: #68b445;
}

.main_content .line .content_hh p span {
  color: #333;
}

.main_content .line .content_hh h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: 10%;
  left: 49.2%;
}

.main_content .line ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-bottom: 5%;
}

.main_content .line ul li {
  margin: 0 auto;
  vertical-align: top;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.main_content .line ul li .box {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.main_content .line ul li .box img {
  width: 100%;
}

.main_content .line ul li .box .line_text {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
}

.main_content .line ul li .box .line_text img {
  width: 50px;
}

.main_content .line ul li .box .line_text p {
  font-size: 44px;
  color: #fff;
  margin: 15px 0;
}

.main_content .line ul li .box .line_text small {
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  white-space: pre-line;
}

.sub_content {
  margin: 0 auto;
  margin-bottom: 3%;
}

.sub_content .form {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.sub_content .form .form_L {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub_content .form .form_L h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.sub_content .form .form_L h2 strong {
  color: #68b445;
}

.sub_content .form .form_L small {
  font-size: 18px;
  color: #666;
  line-height: 25px;
  white-space: pre-line;
}

.sub_content .form .form_L .form_t1 {
  text-align: left;
}

.sub_content .form .form_L .form_t1 fieldset {
  overflow: hidden;
  border: none;
  margin-bottom: 50px;
  padding: 0;
}

.sub_content .form .form_L .form_t1 fieldset legend {
  font-size: 20px;
  margin-bottom: 1%;
}

.sub_content .form .form_L .form_t1 fieldset .priv {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
  border: 1px solid #ddd;
  background: #f7f7f7;
  color: #666;
  padding: 15px;
  margin-bottom: 10px;
}

.sub_content .form .form_L .form_t1 fieldset label {
  float: right;
}

.sub_content .form .form_L .form_t1 fieldset label b {
  color: red;
}

.sub_content .form .form_L .form_t1 .form_t2 {
  text-align: left;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset {
  border: none;
  margin-bottom: 50px;
  padding: 0;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset legend {
  font-size: 20px;
  margin-bottom: 1%;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table {
  width: 100%;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #ddd;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr {
  padding: 15px 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 2px solid green;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr th {
  background: #f7f7f7;
  color: #666;
  font-weight: normal;
  padding: 15px 10px;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td {
  text-align: left;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td select {
  height: 35px;
  line-height: 35px;
  padding: 0 0 0 10px;
  background: #fff;
  border: 1px solid #dadada;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td input {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td textarea {
  width: 100%;
  height: 300px;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td .inp_n {
  width: 15%;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td .inp_e {
  width: 15%;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td .inp_c {
  width: 20%;
}

.sub_content .form .form_L .form_t1 .form_t2 fieldset table tr td .inp_t {
  width: 20%;
}

.sub_content .form .form_L .click {
  width: 100%;
  margin: 0 auto;
}

.sub_content .form .form_L .click div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sub_content .form .form_L .click div .inp_s {
  width: 10%;
  margin-top: 3%;
  padding: 1%;
  cursor: pointer;
  background: #2e2e2e;
  border: none;
  border-radius: 10px;
  color: #fff !important;
}

.sub_content .form .form_L .click div .inp_s:hover {
  background: #464646;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=shop.css.map */