@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

body {
    .main {
        .banner {
            width: 100%;
            height: 180px;
           
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                font-size: 46px;
                color: #333;
                margin: 0 auto;
                background-image: url(../img/Untitled-1.jpg);
            }
        }
    }

    .main_content {
        text-align: center;
        margin-bottom: 80px;

        .content_h {
            position: relative;
            margin: 3% 0;
            h2 {
                margin: 0 auto;
                width: 100%;
                font-size: 40px;
                color: #333;
                
            }

            h2:after {
                display: block;
                content: '';
                width: 30px;
                height: 3px;
                background: #333;
                position: absolute;
                bottom: -50%;
                left: 49.2%;
            }
        }

        figure {
            position: relative;
            margin: 0;

            // padding-bottom: 80px;

            img {
                width: 100%;
            }

            figcaption {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin-top: 3%;

                p {
                    font-size: 44px;
                    color: #68b445;
                }

                small {
                    font-size: 18px;
                    color: #fff;
                    white-space: pre-line;
                    line-height: 30px;
                }
            }
        }
    }
}
