@import url("common.css");
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

body .main .banner {
  width: 100%;
  height: 180px;
}

body .main .banner h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 46px;
  color: #333;
  margin: 0 auto;
  background-image: url(../img/Untitled-1.jpg);
}

body .sub_nav {
  border: 1px solid #ddd;
  border-width: 1px 0 1px 0;
}

body .sub_nav ul {
  width: 1200px;
  height: 50px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  font-size: 0;
  padding-left: 0;
}

body .sub_nav ul .home {
  display: inline-block;
  height: 100%;
  padding: 15px;
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .sub_nav ul .home a img {
  width: 15px;
  height: 15px;
}

body .sub_nav ul .list {
  position: relative;
  width: 275px;
  height: 50px;
  display: inline-block;
  border-right: 1px solid #ddd;
  vertical-align: middle;
  z-index: 90;
}

body .sub_nav ul .list .list_1 {
  font-size: 15px;
  background: url(../img/click.png) no-repeat 95%;
}

body .sub_nav ul .list .list_1 > a {
  font-size: 15px;
  color: #333;
  line-height: 50px;
}

body .sub_nav ul .list .list_1 > a:nth-of-type(1) {
  width: 200px;
  padding: 0 60px 0 15px;
  text-decoration: none;
}

body .sub_nav ul .list .list_1 .list_2 {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  border: 1px solid #ddd;
  border-top: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .sub_nav ul .list .list_1 .list_2 > a {
  background: white;
  display: block;
  padding: 12px 15px;
  font-size: 15px;
  color: #666;
  border-top: 1px solid #ddd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .sub_nav ul .list .list_1 .list_2 > a:hover {
  color: #333;
  background-color: #f7f7f7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .sub_nav ul .list .list_1:hover .list_2 {
  opacity: 1;
}

body .main_content {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

body .main_content .content_h {
  text-align: center;
  position: relative;
  margin: 3% 0;
}

body .main_content .content_h h2 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

body .main_content .content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -50%;
  left: 49.2%;
}

body .main_content img {
  width: 100%;
}

body .main_content figure {
  margin: 0;
  position: absolute;
  left: 0;
  top: 8%;
  width: 100%;
}

body .main_content figure h2 {
  color: #68b445;
  font-size: 46px;
}

body .main_content figure figcaption {
  color: #fff;
  font-size: 44px;
}

body .main_content .sub_content .sub_content_h {
  position: relative;
  margin: 3% 0;
}

body .main_content .sub_content .sub_content_h h2 {
  margin: 0 auto;
  width: 100%;
  font-size: 40px;
  color: #333;
}

body .main_content .sub_content .sub_content_h h2:after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  bottom: -50%;
  left: 49.2%;
}

body .main_content .sub_content .puzzle ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

body .main_content .sub_content .puzzle ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  display: block;
  font-size: 0;
}

body .main_content .sub_content .puzzle ul li .content_img {
  position: relative;
  margin: 0;
}

body .main_content .sub_content .puzzle ul li .content_img img {
  width: 50%;
  margin-right: 50%;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 50%;
  height: 369px;
  background-color: #f7f7f7;
  font-size: 0;
  text-align: center;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment {
  display: inline-block;
  padding: 7%;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment .num {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #68b445;
  font-size: 0;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment .num p {
  position: relative;
  font-size: 28px;
  color: #fff;
  padding: 7px;
  padding-top: 14px;
  vertical-align: middle;
  font-weight: 600;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment .num p:before {
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background: #efed20;
  position: absolute;
  top: 20%;
  left: 25%;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment dl {
  list-style: none;
  margin-top: 10%;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment dl dt {
  font-size: 30px;
  font-weight: 200;
  color: #333;
  margin-bottom: 20px;
  margin-top: -5%;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment dl dd {
  display: block;
  text-align: left;
  font-size: 0;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment dl dd p {
  position: relative;
  font-size: 16px;
  color: #666;
  padding-left: 14px;
}

body .main_content .sub_content .puzzle ul li .content_img .text_box .comment dl dd p:before {
  display: inline-block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #68b445;
  position: absolute;
  top: 8px;
  left: 0;
}

body .main_content .sub_content .puzzle ul li:nth-of-type(2) .content_img {
  position: relative;
  margin: 0;
}

body .main_content .sub_content .puzzle ul li:nth-of-type(2) .content_img img {
  width: 50%;
  margin-left: 50%;
  margin-right: 0;
}

body .main_content .sub_content .puzzle ul li:nth-of-type(2) .content_img .text_box {
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=welcome.css.map */