@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

body {
    .main {
        .banner {
            width: 100%;
            height: 180px;
           
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                font-size: 46px;
                color: #333;
                margin: 0 auto;
                background-image: url(../img/Untitled-1.jpg);
            }
        }
    }

    .main_content {
        text-align: center;
        margin-bottom: 80px;
        position: relative;

        .content_h {
            text-align: center;
            position: relative;
            margin: 3% 0;

            h2 {
                text-align: center;
                margin: 0 auto;
                width: 100%;
                font-size: 40px;
                color: #333;
            }

            h2:after {
                display: block;
                content: '';
                width: 30px;
                height: 3px;
                background: #333;
                position: absolute;
                bottom: -50%;
                left: 49.2%;
            }
        }

        img {
            width: 100%;
        }

        figure {
            margin: 0;
            position: absolute;
            left: 0;
            top: 8%;
            width: 100%;

            h2 {
                color: #68b445;
                font-size: 46px;
            }

            figcaption {
                color: #fff;
                font-size: 44px;
            }
        }

        .sub_content {
            .sub_content_h {
                position: relative;
                margin: 3% 0;

                h2 {
                    margin: 0 auto;
                    width: 100%;
                    font-size: 40px;
                    color: #333;
                }

                h2:after {
                    display: block;
                    content: '';
                    width: 30px;
                    height: 3px;
                    background: #333;
                    position: absolute;
                    bottom: -50%;
                    left: 49.2%;
                }
            }

            .puzzle {
                ul {
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        align-items: center;
                        text-align: center;
                        margin: 0 auto;
                        width: 1200px;
                        display: block;
                        font-size: 0;

                        .content_img {
                            position: relative;
                            margin: 0;

                            img {
                                width: 50%;
                                margin-right: 50%;
                            }

                            .text_box {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 0;
                                width: 50%;
                                height: 369px;
                                background-color: #f7f7f7;
                                font-size: 0;
                                text-align: center;

                                .comment {
                                    display: inline-block;
                                    padding: 7%;

                                    .num {
                                        display: block;
                                        width: 50px;
                                        height: 50px;
                                        margin: 0 auto;
                                        background: #68b445;
                                        font-size: 0;

                                        p {
                                            position: relative;
                                            font-size: 28px;
                                            color: #fff;
                                            padding: 7px;
                                            padding-top: 14px;
                                            vertical-align: middle;
                                            font-weight: 600;
                                        }

                                        p:before {
                                            display: block;
                                            content: '';
                                            width: 25px;
                                            height: 3px;
                                            background: #efed20;
                                            position: absolute;
                                            top: 20%;
                                            left: 25%;
                                        }
                                    }

                                    dl {
                                        list-style: none;
                                        margin-top: 10%;

                                        dt {
                                            font-size: 30px;
                                            font-weight: 200;
                                            color: #333;
                                            margin-bottom: 20px;
                                            margin-top: -5%;
                                        }

                                        dd {
                                            display: block;
                                            text-align: left;
                                            font-size: 0;

                                            p {
                                                position: relative;
                                                font-size: 16px;
                                                color: #666;
                                                padding-left: 14px;
                                            }

                                            p:before {
                                                display: inline-block;
                                                content: '';
                                                width: 5px;
                                                height: 5px;
                                                border-radius: 5px;
                                                background: #68b445;
                                                position: absolute;
                                                top: 8px;
                                                left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    li:nth-of-type(2) {
                        .content_img {
                            position: relative;
                            margin: 0;

                            img {
                                width: 50%;
                                margin-left: 50%;
                                margin-right: 0;
                            }

                            .text_box {
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
